h1{
    background: darkcyan;
    font-size: 50px;
}
h2{
    color:darkgreen;
    font-size: 30px;
    border: 1px solid blue;
}
ul{
    font-size: 25px;
}
h3{
    font-size: 30px;
    color:darkmagenta;
}